.form-search-prods {
    max-width: 564px;
    .search-group {
        display: inline-flex;
        width: 100%;
    }
    .btn-search, .btn-primary {
        background: none !important;
        border-color: transparent !important;
        margin-left: -30px;
    }
}